.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.903320;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.903320;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.708008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-0.200000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._d{margin-left:-2.920004px;}
._6{margin-left:-1.783992px;}
._1{width:1.131958px;}
._8{width:2.220121px;}
._e{width:3.240001px;}
._2{width:4.371996px;}
._10{width:5.491980px;}
._b{width:6.544009px;}
._a{width:7.571993px;}
._7{width:10.088011px;}
._3{width:11.239993px;}
._f{width:12.664019px;}
._14{width:14.375994px;}
._15{width:15.431993px;}
._c{width:17.259982px;}
._11{width:18.348009px;}
._12{width:19.707935px;}
._0{width:38.480003px;}
._13{width:58.480003px;}
._16{width:84.280000px;}
._9{width:103.880006px;}
._5{width:106.040006px;}
._4{width:110.680000px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:32.000000px;}
.fs0{font-size:40.000000px;}
.fs2{font-size:48.000000px;}
.y67{bottom:4.651974px;}
.y8c{bottom:4.652035px;}
.y1c{bottom:4.906002px;}
.y43{bottom:12.651974px;}
.ya4{bottom:12.652035px;}
.y1b{bottom:18.333004px;}
.y8b{bottom:25.825016px;}
.y8a{bottom:38.998016px;}
.y1{bottom:43.894981px;}
.y0{bottom:44.500000px;}
.y45{bottom:44.533985px;}
.y44{bottom:45.000000px;}
.y66{bottom:46.997982px;}
.y89{bottom:52.171017px;}
.y42{bottom:54.997955px;}
.ya3{bottom:54.998043px;}
.y69{bottom:55.360950px;}
.y68{bottom:56.000000px;}
.y1a{bottom:60.679012px;}
.y1e{bottom:62.968006px;}
.y1d{bottom:63.500000px;}
.y41{bottom:68.170956px;}
.y88{bottom:73.343998px;}
.ya2{bottom:76.171017px;}
.y19{bottom:81.851967px;}
.y87{bottom:86.516998px;}
.y65{bottom:89.343979px;}
.y18{bottom:95.024967px;}
.y86{bottom:99.689999px;}
.y64{bottom:102.516979px;}
.y17{bottom:108.197968px;}
.y40{bottom:110.516964px;}
.y63{bottom:115.689980px;}
.y16{bottom:121.370968px;}
.y62{bottom:128.862980px;}
.ya1{bottom:130.724026px;}
.y61{bottom:142.035980px;}
.y85{bottom:142.036007px;}
.y8e{bottom:150.883961px;}
.y8d{bottom:151.500000px;}
.y3f{bottom:152.862953px;}
.y60{bottom:155.208981px;}
.y15{bottom:163.716976px;}
.y3e{bottom:166.035954px;}
.ya0{bottom:173.070004px;}
.y5f{bottom:176.382015px;}
.y3d{bottom:179.208954px;}
.y84{bottom:184.382034px;}
.y14{bottom:184.890011px;}
.y3c{bottom:192.381954px;}
.y5e{bottom:197.554989px;}
.y83{bottom:197.555038px;}
.y13{bottom:206.062984px;}
.y82{bottom:210.728039px;}
.y9f{bottom:215.416023px;}
.y5d{bottom:218.727962px;}
.y81{bottom:223.901039px;}
.y12{bottom:227.235989px;}
.y9e{bottom:228.589024px;}
.y3b{bottom:234.727962px;}
.y80{bottom:237.074039px;}
.y9d{bottom:241.762024px;}
.y11{bottom:248.408993px;}
.y7f{bottom:250.247040px;}
.y9c{bottom:254.935024px;}
.y5c{bottom:261.073978px;}
.y7e{bottom:263.420040px;}
.y10{bottom:269.581997px;}
.y5b{bottom:274.246979px;}
.y3a{bottom:277.073975px;}
.y5a{bottom:287.419979px;}
.y39{bottom:290.246975px;}
.yf{bottom:290.755001px;}
.y9b{bottom:297.281002px;}
.y7d{bottom:305.766018px;}
.y38{bottom:311.419979px;}
.y59{bottom:329.765987px;}
.ye{bottom:333.101009px;}
.y9a{bottom:339.627014px;}
.y37{bottom:345.336963px;}
.y7c{bottom:348.112030px;}
.y99{bottom:352.800014px;}
.y7b{bottom:361.285030px;}
.y36{bottom:368.413982px;}
.y58{bottom:372.111980px;}
.y35{bottom:381.586983px;}
.y7a{bottom:382.458035px;}
.y57{bottom:385.284981px;}
.y34{bottom:394.759983px;}
.y98{bottom:395.146015px;}
.y56{bottom:398.457981px;}
.yd{bottom:399.860989px;}
.y33{bottom:407.932983px;}
.y97{bottom:408.319015px;}
.y55{bottom:411.630981px;}
.y32{bottom:421.105984px;}
.y96{bottom:421.492016px;}
.yc{bottom:424.274990px;}
.y54{bottom:424.803982px;}
.y79{bottom:424.804012px;}
.y53{bottom:445.976990px;}
.yb{bottom:448.688992px;}
.y52{bottom:459.149990px;}
.y31{bottom:463.451962px;}
.y95{bottom:463.838009px;}
.y78{bottom:467.150032px;}
.ya{bottom:473.102993px;}
.y51{bottom:480.322998px;}
.y77{bottom:480.323032px;}
.y50{bottom:493.495998px;}
.y76{bottom:493.496033px;}
.y9{bottom:497.516994px;}
.y30{bottom:498.051971px;}
.y94{bottom:506.184013px;}
.y75{bottom:506.669033px;}
.y2f{bottom:511.478973px;}
.y4f{bottom:514.668987px;}
.y93{bottom:519.357014px;}
.y8{bottom:521.930996px;}
.y2e{bottom:524.905975px;}
.y2d{bottom:538.332962px;}
.y7{bottom:546.344997px;}
.y74{bottom:549.015026px;}
.y2c{bottom:551.759968px;}
.y4e{bottom:557.014996px;}
.y92{bottom:561.703014px;}
.y2b{bottom:565.186970px;}
.y6{bottom:570.758999px;}
.y2a{bottom:578.613968px;}
.y73{bottom:591.361023px;}
.y29{bottom:592.040968px;}
.y5{bottom:595.173000px;}
.y4d{bottom:599.360989px;}
.y91{bottom:604.049015px;}
.y72{bottom:604.534023px;}
.y28{bottom:605.467968px;}
.y90{bottom:617.222015px;}
.y27{bottom:618.894972px;}
.y4c{bottom:620.533993px;}
.y71{bottom:625.707027px;}
.y26{bottom:632.321972px;}
.y4{bottom:637.518993px;}
.y8f{bottom:638.395016px;}
.y70{bottom:638.880028px;}
.y4b{bottom:641.706989px;}
.y25{bottom:645.748974px;}
.y6f{bottom:652.053028px;}
.y24{bottom:659.175970px;}
.y4a{bottom:662.879990px;}
.y23{bottom:672.602970px;}
.y6e{bottom:673.226025px;}
.y49{bottom:676.052990px;}
.y3{bottom:677.864994px;}
.y22{bottom:686.029972px;}
.y6d{bottom:686.399025px;}
.y48{bottom:689.225990px;}
.y21{bottom:699.456970px;}
.y6c{bottom:699.572025px;}
.y2{bottom:703.037994px;}
.y47{bottom:710.398991px;}
.y6b{bottom:712.745026px;}
.y20{bottom:712.883970px;}
.y46{bottom:723.571991px;}
.y1f{bottom:726.310970px;}
.y6a{bottom:733.918026px;}
.h4{height:28.710938px;}
.h3{height:29.042969px;}
.h5{height:29.121094px;}
.h8{height:34.851562px;}
.hd{height:648.000000px;}
.he{height:648.916016px;}
.h1{height:734.000000px;}
.h2{height:734.731995px;}
.h6{height:736.000000px;}
.h7{height:736.831970px;}
.hb{height:743.500000px;}
.hc{height:744.439026px;}
.h9{height:754.500000px;}
.ha{height:755.265991px;}
.h0{height:841.849976px;}
.w1{width:489.500000px;}
.w2{width:490.549988px;}
.w0{width:595.250000px;}
.x4{left:6.500000px;}
.x7{left:24.500012px;}
.x8{left:29.450001px;}
.x5{left:41.949994px;}
.x6{left:51.549999px;}
.x3{left:56.750000px;}
.x0{left:69.000000px;}
.x2{left:161.598007px;}
.x1{left:173.311996px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-0.266667pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._d{margin-left:-3.893338pt;}
._6{margin-left:-2.378656pt;}
._1{width:1.509277pt;}
._8{width:2.960161pt;}
._e{width:4.320002pt;}
._2{width:5.829329pt;}
._10{width:7.322640pt;}
._b{width:8.725345pt;}
._a{width:10.095991pt;}
._7{width:13.450681pt;}
._3{width:14.986658pt;}
._f{width:16.885358pt;}
._14{width:19.167992pt;}
._15{width:20.575991pt;}
._c{width:23.013309pt;}
._11{width:24.464012pt;}
._12{width:26.277246pt;}
._0{width:51.306671pt;}
._13{width:77.973337pt;}
._16{width:112.373333pt;}
._9{width:138.506675pt;}
._5{width:141.386675pt;}
._4{width:147.573333pt;}
.fs1{font-size:42.666667pt;}
.fs0{font-size:53.333333pt;}
.fs2{font-size:64.000000pt;}
.y67{bottom:6.202632pt;}
.y8c{bottom:6.202713pt;}
.y1c{bottom:6.541336pt;}
.y43{bottom:16.869298pt;}
.ya4{bottom:16.869380pt;}
.y1b{bottom:24.444005pt;}
.y8b{bottom:34.433355pt;}
.y8a{bottom:51.997355pt;}
.y1{bottom:58.526642pt;}
.y0{bottom:59.333333pt;}
.y45{bottom:59.378647pt;}
.y44{bottom:60.000000pt;}
.y66{bottom:62.663976pt;}
.y89{bottom:69.561356pt;}
.y42{bottom:73.330607pt;}
.ya3{bottom:73.330724pt;}
.y69{bottom:73.814601pt;}
.y68{bottom:74.666667pt;}
.y1a{bottom:80.905350pt;}
.y1e{bottom:83.957342pt;}
.y1d{bottom:84.666667pt;}
.y41{bottom:90.894608pt;}
.y88{bottom:97.791997pt;}
.ya2{bottom:101.561356pt;}
.y19{bottom:109.135956pt;}
.y87{bottom:115.355998pt;}
.y65{bottom:119.125305pt;}
.y18{bottom:126.699956pt;}
.y86{bottom:132.919998pt;}
.y64{bottom:136.689306pt;}
.y17{bottom:144.263957pt;}
.y40{bottom:147.355952pt;}
.y63{bottom:154.253306pt;}
.y16{bottom:161.827957pt;}
.y62{bottom:171.817307pt;}
.ya1{bottom:174.298701pt;}
.y61{bottom:189.381307pt;}
.y85{bottom:189.381343pt;}
.y8e{bottom:201.178614pt;}
.y8d{bottom:202.000000pt;}
.y3f{bottom:203.817271pt;}
.y60{bottom:206.945307pt;}
.y15{bottom:218.289302pt;}
.y3e{bottom:221.381271pt;}
.ya0{bottom:230.760005pt;}
.y5f{bottom:235.176020pt;}
.y3d{bottom:238.945272pt;}
.y84{bottom:245.842712pt;}
.y14{bottom:246.520014pt;}
.y3c{bottom:256.509272pt;}
.y5e{bottom:263.406652pt;}
.y83{bottom:263.406718pt;}
.y13{bottom:274.750646pt;}
.y82{bottom:280.970718pt;}
.y9f{bottom:287.221364pt;}
.y5d{bottom:291.637283pt;}
.y81{bottom:298.534719pt;}
.y12{bottom:302.981318pt;}
.y9e{bottom:304.785365pt;}
.y3b{bottom:312.970617pt;}
.y80{bottom:316.098719pt;}
.y9d{bottom:322.349365pt;}
.y11{bottom:331.211990pt;}
.y7f{bottom:333.662720pt;}
.y9c{bottom:339.913366pt;}
.y5c{bottom:348.098638pt;}
.y7e{bottom:351.226720pt;}
.y10{bottom:359.442663pt;}
.y5b{bottom:365.662638pt;}
.y3a{bottom:369.431966pt;}
.y5a{bottom:383.226639pt;}
.y39{bottom:386.995967pt;}
.yf{bottom:387.673335pt;}
.y9b{bottom:396.374669pt;}
.y7d{bottom:407.688024pt;}
.y38{bottom:415.226639pt;}
.y59{bottom:439.687983pt;}
.ye{bottom:444.134679pt;}
.y9a{bottom:452.836019pt;}
.y37{bottom:460.449284pt;}
.y7c{bottom:464.149373pt;}
.y99{bottom:470.400019pt;}
.y7b{bottom:481.713374pt;}
.y36{bottom:491.218643pt;}
.y58{bottom:496.149307pt;}
.y35{bottom:508.782644pt;}
.y7a{bottom:509.944046pt;}
.y57{bottom:513.713308pt;}
.y34{bottom:526.346644pt;}
.y98{bottom:526.861354pt;}
.y56{bottom:531.277308pt;}
.yd{bottom:533.147985pt;}
.y33{bottom:543.910645pt;}
.y97{bottom:544.425354pt;}
.y55{bottom:548.841309pt;}
.y32{bottom:561.474645pt;}
.y96{bottom:561.989354pt;}
.yc{bottom:565.699987pt;}
.y54{bottom:566.405309pt;}
.y79{bottom:566.405350pt;}
.y53{bottom:594.635986pt;}
.yb{bottom:598.251989pt;}
.y52{bottom:612.199987pt;}
.y31{bottom:617.935949pt;}
.y95{bottom:618.450679pt;}
.y78{bottom:622.866709pt;}
.ya{bottom:630.803991pt;}
.y51{bottom:640.430664pt;}
.y77{bottom:640.430710pt;}
.y50{bottom:657.994665pt;}
.y76{bottom:657.994710pt;}
.y9{bottom:663.355993pt;}
.y30{bottom:664.069295pt;}
.y94{bottom:674.912018pt;}
.y75{bottom:675.558711pt;}
.y2f{bottom:681.971965pt;}
.y4f{bottom:686.225316pt;}
.y93{bottom:692.476018pt;}
.y8{bottom:695.907995pt;}
.y2e{bottom:699.874634pt;}
.y2d{bottom:717.777283pt;}
.y7{bottom:728.459997pt;}
.y74{bottom:732.020035pt;}
.y2c{bottom:735.679957pt;}
.y4e{bottom:742.686661pt;}
.y92{bottom:748.937353pt;}
.y2b{bottom:753.582626pt;}
.y6{bottom:761.011998pt;}
.y2a{bottom:771.485291pt;}
.y73{bottom:788.481364pt;}
.y29{bottom:789.387957pt;}
.y5{bottom:793.564000pt;}
.y4d{bottom:799.147985pt;}
.y91{bottom:805.398687pt;}
.y72{bottom:806.045364pt;}
.y28{bottom:807.290624pt;}
.y90{bottom:822.962687pt;}
.y27{bottom:825.193296pt;}
.y4c{bottom:827.378657pt;}
.y71{bottom:834.276037pt;}
.y26{bottom:843.095963pt;}
.y4{bottom:850.025325pt;}
.y8f{bottom:851.193354pt;}
.y70{bottom:851.840037pt;}
.y4b{bottom:855.609319pt;}
.y25{bottom:860.998632pt;}
.y6f{bottom:869.404037pt;}
.y24{bottom:878.901293pt;}
.y4a{bottom:883.839986pt;}
.y23{bottom:896.803960pt;}
.y6e{bottom:897.634699pt;}
.y49{bottom:901.403987pt;}
.y3{bottom:903.819992pt;}
.y22{bottom:914.706629pt;}
.y6d{bottom:915.198700pt;}
.y48{bottom:918.967987pt;}
.y21{bottom:932.609294pt;}
.y6c{bottom:932.762700pt;}
.y2{bottom:937.383993pt;}
.y47{bottom:947.198654pt;}
.y6b{bottom:950.326701pt;}
.y20{bottom:950.511960pt;}
.y46{bottom:964.762655pt;}
.y1f{bottom:968.414627pt;}
.y6a{bottom:978.557368pt;}
.h4{height:38.281250pt;}
.h3{height:38.723958pt;}
.h5{height:38.828125pt;}
.h8{height:46.468750pt;}
.hd{height:864.000000pt;}
.he{height:865.221354pt;}
.h1{height:978.666667pt;}
.h2{height:979.642660pt;}
.h6{height:981.333333pt;}
.h7{height:982.442627pt;}
.hb{height:991.333333pt;}
.hc{height:992.585368pt;}
.h9{height:1006.000000pt;}
.ha{height:1007.021322pt;}
.h0{height:1122.466634pt;}
.w1{width:652.666667pt;}
.w2{width:654.066650pt;}
.w0{width:793.666667pt;}
.x4{left:8.666667pt;}
.x7{left:32.666683pt;}
.x8{left:39.266668pt;}
.x5{left:55.933325pt;}
.x6{left:68.733332pt;}
.x3{left:75.666667pt;}
.x0{left:92.000000pt;}
.x2{left:215.464010pt;}
.x1{left:231.082662pt;}
}
