/Common/TVChannelsCRM.Common/bin
/Web/TVChannelsCRM.Web/obj/Release/Package/PackageTmp/bin
/Web/TVChannelsCRM.Web/bin
/Web/TVChannelsCRM.Web.Common/bin
/Data/TVChannelsCRM.Data/bin
/Data/TVChannelsCRM.Data.Models/bin
/Data/TVChannelsCRM.Data.Contracts/bin
/Web/TVChannelsCRM.Web.Common/obj
/Data/TVChannelsCRM.Data/obj
/Data/TVChannelsCRM.Data.Models/obj
/Data/TVChannelsCRM.Data.Contracts/obj
/Common/TVChannelsCRM.Common/obj
/Web/TVChannelsCRM.Web/obj
