/Data/CRM.Data/bin
/Data/CRM.Data.Models/bin
/Data/CRM.Data.Contracts/bin
/Common/CRM.Common/bin
/Web/CRM.Web/bin
/Web/CRM.Web.Common/bin
/Services/CRM.Services.Common/bin
/Services/CRM.Services.Logic/bin
/Services/CRM.Services.Data/bin
/Data/CRM.Data/obj
/Data/CRM.Data.Models/obj
/Data/CRM.Data.Contracts/obj
/Common/CRM.Common/obj
/Web/CRM.Web/obj
/Web/CRM.Web.Common/obj
/Services/CRM.Services.Common/obj
/Services/CRM.Services.Logic/obj
/Services/CRM.Services.Data/obj
/packages
