ol {
    margin: 0;
    padding: 0;
}

.c18 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 74.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c27 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 93.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c65 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 238.7pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c46 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 51.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c32 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 238.7pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c40 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 216.3pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c30 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 230.3pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c59 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 73.7pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c49 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 68.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c57 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 60.4pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c60 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 120.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c3 {
    padding-top: 6pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: center;
    direction: ltr;
}

.c11 {
    padding-top: 6pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left;
    direction: ltr;
}

.c0 {
    padding-top: 6pt;
    orphans: 2;
    widows: 2;
    text-align: justify;
    direction: ltr;
}

.c63 {
    margin-left: 35.2pt;
    padding-top: 0pt;
    text-indent: -35.2pt;
    padding-bottom: 0pt;
    line-height: 1.5;
}

.c6 {
    orphans: 2;
    widows: 2;
    text-align: justify;
    direction: ltr;
    height: 12pt;
}

.c35 {
    font-weight: normal;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
}

.c9 {
    orphans: 2;
    widows: 2;
    text-align: justify;
    direction: ltr;
}

.c24 {
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: italic;
}

.c1 {
    vertical-align: baseline;
    font-size: 10.5pt;
    font-family: "Arial";
    font-weight: normal;
}

.c20 {
    font-weight: normal;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
}

.c23 {
    background-color: #ffffff;
    font-size: 10.5pt;
    font-family: "Arial";
    color: #333333;
}

.c7 {
    vertical-align: super;
    font-size: 10.5pt;
    font-family: "Arial";
}

.c14 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
}

.c12 {
    orphans: 2;
    widows: 2;
    direction: ltr;
}

.c26 {
    font-size: 10.5pt;
    font-family: "Arial";
    color: #4c5356;
}

.c4 {
    vertical-align: baseline;
    font-size: 10.5pt;
    font-family: "Arial";
}

.c29 {
    margin-left: -5.4pt;
    border-collapse: collapse;
    margin-right: auto;
}

.c28 {
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Arial";
}

.c37 {
    font-size: 10.5pt;
    font-family: "Arial";
    color: #333333;
}

.c43 {
    margin-left: 28.9pt;
    text-indent: -0.6pt;
}

.c19 {
    text-decoration: none;
    font-style: normal;
}

.c38 {
    padding-top: 1pt;
    padding-bottom: 1pt;
}

.c42 {
    padding-top: 35.4pt;
    text-align: center;
}

.c15 {
    border: 1px solid black;
    margin: 5px;
}

.c68 {
    margin-left: 27pt;
    text-indent: -27pt;
}

.c2 {
    margin-left: 207pt;
    text-indent: -207pt;
}

.c34 {
    color: #0000ff;
    text-decoration: underline;
}

.c53 {
    font-size: 10.5pt;
    font-family: "Arial";
}

.c22 {
    color: inherit;
    text-decoration: inherit;
}

.c58 {
    max-width: 453.6pt;
    padding: 70.8pt 70.8pt 70.8pt 70.8pt;
}

.c41 {
    margin-left: 28.4pt;
    text-indent: -28.4pt;
}

.c16 {
    padding-bottom: 0pt;
    line-height: 1.0;
}

.c61 {
    font-size: 10pt;
    font-family: "Arial";
}

.c45 {
    text-align: justify;
    direction: ltr;
}

.c31 {
    font-style: italic;
}

.c55 {
    text-indent: 28.4pt;
}

.c25 {
    page-break-after: avoid;
}

.c64 {
    font-family: "Myriad_PFL";
}

.c44 {
    margin-left: 36pt;
}

.c67 {
    font-size: 12pt;
}

.c47 {
    vertical-align: baseline;
}

.c51 {
    text-indent: -36pt;
}

.c33 {
    height: 0pt;
}

.c66 {
    height: 40pt;
}

.c21 {
}

.c5 {
    font-weight: bold;
}

.c50 {
    height: 19pt;
}

.c13 {
    color: #000000;
}

.c8 {
    height: 17pt;
}

.c54 {
    margin-left: 28.4pt;
}

.c10 {
    height: 12pt;
}

.c56 {
    text-align: left;
}

.c17 {
    margin-left: 35.4pt;
}

.c48 {
    height: 37pt;
}

.c69 {
    direction: ltr;
}

.c62 {
    text-align: center;
}

.c39 {
    padding-top: 6pt;
}

.c36 {
    font-weight: normal;
}

.c52 {
    background-color: #ffffff;
}

.title {
    padding-top: 24pt;
    color: #000000;
    font-weight: bold;
    font-size: 36pt;
    padding-bottom: 6pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

.subtitle {
    padding-top: 18pt;
    color: #666666;
    font-size: 24pt;
    padding-bottom: 4pt;
    font-family: "Georgia";
    line-height: 1.0;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
}

li {
    color: #000000;
    font-size: 12pt;
    font-family: "Times New Roman";
}

p {
    margin: 0;
    color: #000000;
    font-size: 12pt;
    font-family: "Times New Roman";
}

h1 {
    padding-top: 0pt;
    color: #000000;
    font-weight: bold;
    font-size: 12pt;
    padding-bottom: 0pt;
    font-family: "Myriad_PFL";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center;
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-weight: bold;
    font-size: 18pt;
    padding-bottom: 4pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h3 {
    padding-top: 14pt;
    color: #000000;
    font-weight: bold;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h4 {
    padding-top: 12pt;
    color: #000000;
    font-weight: bold;
    font-size: 12pt;
    padding-bottom: 2pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h5 {
    padding-top: 11pt;
    color: #000000;
    font-weight: bold;
    font-size: 11pt;
    padding-bottom: 2pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h6 {
    padding-top: 10pt;
    color: #000000;
    font-weight: bold;
    font-size: 10pt;
    padding-bottom: 2pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
