ol {
    margin: 0;
    padding: 0;
}

.c46 {
    border-right-style: solid;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 131.6pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c16 {
    border-right-style: solid;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 219.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c32 {
    border-right-style: solid;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 157.9pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c2 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify;
    direction: ltr;
    margin-right: 29.6pt;
}

.c5 {
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Times New Roman";
    font-style: normal;
}

.c3 {
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Times New Roman";
    font-weight: bold;
    text-decoration: underline;
}

.c0 {
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Times New Roman";
    font-weight: normal;
}

.c23 {
    background-color: #ffffff;
    font-size: 10.5pt;
    font-family: "Arial";
    color: #333333;
}

.c9 {
    padding-bottom: 12pt;
    line-height: 1.5;
    text-align: justify;
    margin-right: 29.6pt;
}

.c19 {
    margin-left: 42.5pt;
    padding-bottom: 12pt;
    line-height: 1.5;
}

.c15 {
    line-height: 1.5;
    text-align: justify;
    margin-right: 29.6pt;
}

.c41 {
    background-color: #ffffff;
    max-width: 515.6pt;
    padding: 56.8pt 48.2pt 28.4pt 48.2pt;
}

.c29 {
    font-size: 10.5pt;
    font-family: "Arial";
    color: #4c5356;
}

.c8 {
    orphans: 2;
    widows: 2;
    direction: ltr;
}

.c37 {
    border-collapse: collapse;
    margin-right: auto;
}

.c38 {
    text-align: justify;
    margin-right: 5.3pt;
}

.c30 {
    margin-left: 247.8pt;
    text-indent: 35.4pt;
}

.c13 {
    text-align: justify;
    margin-right: 33.6pt;
}

.c7 {
    line-height: 1.5;
    direction: ltr;
}

.c34 {
    text-align: justify;
    margin-right: 26.6pt;
}

.c20 {
    vertical-align: super;
    font-family: "Times New Roman";
}

.c14 {
    line-height: 1.5;
    height: 12pt;
}

.c26 {
    padding-top: 0pt;
    padding-bottom: 0pt;
}

.c24 {
    font-size: 12pt;
    font-weight: normal;
}

.c33 {
    margin-left: 177pt;
    text-indent: 35.4pt;
}

.c6 {
    vertical-align: baseline;
    font-family: "Times New Roman";
}

.c25 {
    margin-right: 29.6pt;
}

.c18 {
    color: #000000;
}

.c31 {
    line-height: 1.0;
}

.c11 {
    page-break-after: avoid;
}

.c36 {
    text-align: center;
}

.c21 {
    line-height: 1.5;
}

.c40 {
    padding-bottom: 36pt;
}

.c27 {
    padding-top: 0pt;
}

.c22 {
    height: 12pt;
}

.c12 {
    font-size: 9pt;
}

.c39 {
    padding-bottom: 12pt;
}

.c28 {
    color: #993300;
}

.c17 {
    text-decoration: underline;
}

.c48 {
    margin-left: 35.4pt;
}

.c43 {
    background-color: #ffffff;
}

.c44 {
    text-align: left;
}

.c35 {
    height: 37pt;
}

.c45 {
    height: 11pt;
}

.c4 {
    font-size: 11pt;
}

.c42 {
    margin-left: 42.5pt;
}

.c47 {
    vertical-align: baseline;
}

.c10 {
    font-weight: bold;
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-weight: bold;
    font-size: 14pt;
    padding-bottom: 12pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center;
}

.subtitle {
    padding-top: 18pt;
    color: #666666;
    font-size: 24pt;
    padding-bottom: 4pt;
    font-family: "Georgia";
    line-height: 1.0;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
}

li {
    color: #000000;
    font-size: 12pt;
    font-family: "Times New Roman";
}

p {
    margin: 0;
    color: #000000;
    font-size: 12pt;
    font-family: "Times New Roman";
}

h1 {
    padding-top: 0pt;
    color: #000000;
    font-size: 14pt;
    padding-bottom: 0pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center;
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-weight: bold;
    font-size: 18pt;
    padding-bottom: 4pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h3 {
    padding-top: 14pt;
    color: #000000;
    font-weight: bold;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h4 {
    padding-top: 12pt;
    color: #000000;
    font-weight: bold;
    font-size: 14pt;
    padding-bottom: 3pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h5 {
    padding-top: 12pt;
    color: #000000;
    font-weight: bold;
    font-size: 13pt;
    padding-bottom: 3pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h6 {
    padding-top: 12pt;
    color: #000000;
    font-weight: bold;
    font-size: 11pt;
    padding-bottom: 3pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
