@using CRM.Services.Data.ViewModels.Finance.Reports
@model SendFinanceReportViewModel

@{
    ViewBag.Title = "Finance Reports";
}

<h2>Finance Reports</h2>

@using (Html.BeginForm("GenerateReport", "FinanceReports", null, FormMethod.Post, null))
{
    @Html.DropDownList("chooseReportType", ViewBag.EnumData as SelectList)

    <label for="from">From</label>
    @(Html.Kendo().DatePicker()
              .Name("from")
    )

    <label for="to">To</label>
    @(Html.Kendo().DatePicker()
              .Name("to")
    )

    <input type="submit" value="Generate report" class="btn btn-success" />
}