.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.904297;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.904297;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{margin-left:-2.092002px;}
._f{margin-left:-1.043987px;}
._1{width:1.131958px;}
._3{width:2.312001px;}
._2{width:4.208003px;}
._c{width:5.980003px;}
._9{width:7.263997px;}
._a{width:10.552018px;}
._b{width:11.804001px;}
._11{width:13.059980px;}
._e{width:16.220004px;}
._7{width:17.259982px;}
._d{width:18.348009px;}
._0{width:38.480003px;}
._10{width:58.480003px;}
._12{width:84.280000px;}
._6{width:103.880006px;}
._5{width:106.040006px;}
._4{width:110.680000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:32.000000px;}
.fs0{font-size:40.000000px;}
.y41{bottom:4.652008px;}
.y1d{bottom:4.906002px;}
.y65{bottom:12.651981px;}
.y7d{bottom:12.652035px;}
.y40{bottom:17.825008px;}
.y1c{bottom:18.333004px;}
.y64{bottom:25.824982px;}
.y1b{bottom:31.760006px;}
.y63{bottom:38.997982px;}
.y43{bottom:44.533985px;}
.y42{bottom:45.000000px;}
.y1a{bottom:52.932980px;}
.y1e{bottom:54.631947px;}
.y1{bottom:54.881981px;}
.y7c{bottom:54.998013px;}
.y0{bottom:55.500000px;}
.y62{bottom:60.170963px;}
.y3f{bottom:60.171051px;}
.y61{bottom:73.343964px;}
.y3e{bottom:73.344051px;}
.y19{bottom:74.105995px;}
.y7b{bottom:76.171017px;}
.y60{bottom:86.516964px;}
.y18{bottom:87.278996px;}
.y3d{bottom:94.517025px;}
.y17{bottom:100.451996px;}
.y5f{bottom:107.689999px;}
.y16{bottom:113.624996px;}
.y7a{bottom:130.724026px;}
.y3c{bottom:136.863007px;}
.y5e{bottom:150.035988px;}
.y3b{bottom:150.036007px;}
.y79{bottom:151.897030px;}
.y15{bottom:155.971004px;}
.y5d{bottom:163.208988px;}
.y3a{bottom:171.209042px;}
.y5c{bottom:176.381989px;}
.y14{bottom:177.143978px;}
.y5b{bottom:189.554989px;}
.y78{bottom:194.243019px;}
.y13{bottom:198.317013px;}
.y77{bottom:207.416019px;}
.y39{bottom:213.555031px;}
.y12{bottom:219.489986px;}
.y76{bottom:220.589020px;}
.y38{bottom:226.728031px;}
.y5a{bottom:231.900997px;}
.y75{bottom:233.762020px;}
.y37{bottom:239.901031px;}
.y11{bottom:240.662991px;}
.y36{bottom:253.074032px;}
.y74{bottom:254.935024px;}
.y67{bottom:256.748951px;}
.y66{bottom:257.500000px;}
.y10{bottom:261.835995px;}
.y59{bottom:274.246983px;}
.y73{bottom:276.108032px;}
.yf{bottom:283.008999px;}
.y58{bottom:287.419983px;}
.y72{bottom:289.281033px;}
.y35{bottom:295.420040px;}
.y57{bottom:300.592983px;}
.y71{bottom:310.454029px;}
.y56{bottom:321.765987px;}
.y70{bottom:323.627029px;}
.ye{bottom:325.355007px;}
.y6f{bottom:336.800030px;}
.y34{bottom:337.766022px;}
.y33{bottom:350.939022px;}
.y6e{bottom:357.973019px;}
.y55{bottom:364.111996px;}
.yd{bottom:392.114986px;}
.y32{bottom:393.285030px;}
.y6d{bottom:400.319023px;}
.y54{bottom:406.457977px;}
.y6c{bottom:413.492023px;}
.y31{bottom:414.458035px;}
.yc{bottom:416.528988px;}
.y53{bottom:419.630978px;}
.y6b{bottom:434.665028px;}
.y52{bottom:440.803986px;}
.yb{bottom:440.942989px;}
.y51{bottom:453.976986px;}
.y30{bottom:456.804035px;}
.ya{bottom:465.356991px;}
.y2f{bottom:469.977036px;}
.y6a{bottom:477.011024px;}
.y2e{bottom:483.150036px;}
.y9{bottom:489.770992px;}
.y50{bottom:496.322994px;}
.y8{bottom:514.184994px;}
.y69{bottom:519.357025px;}
.y2d{bottom:525.496029px;}
.y68{bottom:532.530025px;}
.y7{bottom:538.598995px;}
.y4f{bottom:538.668987px;}
.y4e{bottom:551.841988px;}
.y2c{bottom:560.096031px;}
.y6{bottom:563.012997px;}
.y4d{bottom:565.014988px;}
.y2b{bottom:573.523033px;}
.y4c{bottom:578.187988px;}
.y5{bottom:584.186001px;}
.y2a{bottom:586.950035px;}
.y4b{bottom:591.360989px;}
.y29{bottom:600.377022px;}
.y4a{bottom:612.533989px;}
.y28{bottom:613.804028px;}
.y49{bottom:625.706989px;}
.y4{bottom:626.531994px;}
.y27{bottom:627.231029px;}
.y26{bottom:640.658028px;}
.y48{bottom:646.879990px;}
.y25{bottom:654.085028px;}
.y47{bottom:660.052990px;}
.y3{bottom:666.877995px;}
.y24{bottom:667.512028px;}
.y23{bottom:680.939032px;}
.y46{bottom:681.225994px;}
.y2{bottom:692.050995px;}
.y22{bottom:694.366032px;}
.y45{bottom:702.398991px;}
.y21{bottom:707.793030px;}
.y20{bottom:721.220030px;}
.y1f{bottom:734.647030px;}
.y44{bottom:744.744991px;}
.h4{height:28.710938px;}
.h3{height:29.042969px;}
.h5{height:29.121094px;}
.ha{height:542.000000px;}
.hb{height:543.051025px;}
.h1{height:723.000000px;}
.h2{height:723.744995px;}
.h6{height:744.000000px;}
.h7{height:745.168030px;}
.h8{height:754.500000px;}
.h9{height:755.265991px;}
.h0{height:841.849976px;}
.w1{width:489.500000px;}
.w2{width:490.549988px;}
.w0{width:595.250000px;}
.x4{left:6.500000px;}
.x7{left:24.500012px;}
.x8{left:29.450001px;}
.x5{left:41.949994px;}
.x6{left:51.549999px;}
.x3{left:56.750000px;}
.x0{left:69.000000px;}
.x2{left:161.598007px;}
.x1{left:173.311996px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._8{margin-left:-2.789336pt;}
._f{margin-left:-1.391983pt;}
._1{width:1.509277pt;}
._3{width:3.082668pt;}
._2{width:5.610670pt;}
._c{width:7.973337pt;}
._9{width:9.685329pt;}
._a{width:14.069357pt;}
._b{width:15.738669pt;}
._11{width:17.413307pt;}
._e{width:21.626672pt;}
._7{width:23.013309pt;}
._d{width:24.464012pt;}
._0{width:51.306671pt;}
._10{width:77.973337pt;}
._12{width:112.373333pt;}
._6{width:138.506675pt;}
._5{width:141.386675pt;}
._4{width:147.573333pt;}
.fs1{font-size:42.666667pt;}
.fs0{font-size:53.333333pt;}
.y41{bottom:6.202677pt;}
.y1d{bottom:6.541336pt;}
.y65{bottom:16.869308pt;}
.y7d{bottom:16.869380pt;}
.y40{bottom:23.766678pt;}
.y1c{bottom:24.444005pt;}
.y64{bottom:34.433309pt;}
.y1b{bottom:42.346675pt;}
.y63{bottom:51.997309pt;}
.y43{bottom:59.378647pt;}
.y42{bottom:60.000000pt;}
.y1a{bottom:70.577306pt;}
.y1e{bottom:72.842595pt;}
.y1{bottom:73.175975pt;}
.y7c{bottom:73.330683pt;}
.y0{bottom:74.000000pt;}
.y62{bottom:80.227951pt;}
.y3f{bottom:80.228068pt;}
.y61{bottom:97.791951pt;}
.y3e{bottom:97.792068pt;}
.y19{bottom:98.807994pt;}
.y7b{bottom:101.561356pt;}
.y60{bottom:115.355952pt;}
.y18{bottom:116.371994pt;}
.y3d{bottom:126.022700pt;}
.y17{bottom:133.935994pt;}
.y5f{bottom:143.586665pt;}
.y16{bottom:151.499995pt;}
.y7a{bottom:174.298701pt;}
.y3c{bottom:182.484009pt;}
.y5e{bottom:200.047984pt;}
.y3b{bottom:200.048009pt;}
.y79{bottom:202.529373pt;}
.y15{bottom:207.961339pt;}
.y5d{bottom:217.611984pt;}
.y3a{bottom:228.278722pt;}
.y5c{bottom:235.175985pt;}
.y14{bottom:236.191971pt;}
.y5b{bottom:252.739985pt;}
.y78{bottom:258.990692pt;}
.y13{bottom:264.422684pt;}
.y77{bottom:276.554693pt;}
.y39{bottom:284.740041pt;}
.y12{bottom:292.653315pt;}
.y76{bottom:294.118693pt;}
.y38{bottom:302.304042pt;}
.y5a{bottom:309.201330pt;}
.y75{bottom:311.682693pt;}
.y37{bottom:319.868042pt;}
.y11{bottom:320.883987pt;}
.y36{bottom:337.432042pt;}
.y74{bottom:339.913366pt;}
.y67{bottom:342.331935pt;}
.y66{bottom:343.333333pt;}
.y10{bottom:349.114660pt;}
.y59{bottom:365.662643pt;}
.y73{bottom:368.144043pt;}
.yf{bottom:377.345332pt;}
.y58{bottom:383.226644pt;}
.y72{bottom:385.708043pt;}
.y35{bottom:393.893387pt;}
.y57{bottom:400.790644pt;}
.y71{bottom:413.938705pt;}
.y56{bottom:429.021317pt;}
.y70{bottom:431.502706pt;}
.ye{bottom:433.806676pt;}
.y6f{bottom:449.066706pt;}
.y34{bottom:450.354696pt;}
.y33{bottom:467.918696pt;}
.y6e{bottom:477.297358pt;}
.y55{bottom:485.482661pt;}
.yd{bottom:522.819982pt;}
.y32{bottom:524.380040pt;}
.y6d{bottom:533.758698pt;}
.y54{bottom:541.943970pt;}
.y6c{bottom:551.322698pt;}
.y31{bottom:552.610713pt;}
.yc{bottom:555.371984pt;}
.y53{bottom:559.507970pt;}
.y6b{bottom:579.553370pt;}
.y52{bottom:587.738647pt;}
.yb{bottom:587.923986pt;}
.y51{bottom:605.302648pt;}
.y30{bottom:609.072047pt;}
.ya{bottom:620.475988pt;}
.y2f{bottom:626.636047pt;}
.y6a{bottom:636.014699pt;}
.y2e{bottom:644.200048pt;}
.y9{bottom:653.027990pt;}
.y50{bottom:661.763992pt;}
.y8{bottom:685.579992pt;}
.y69{bottom:692.476034pt;}
.y2d{bottom:700.661372pt;}
.y68{bottom:710.040034pt;}
.y7{bottom:718.131994pt;}
.y4f{bottom:718.225316pt;}
.y4e{bottom:735.789317pt;}
.y2c{bottom:746.794708pt;}
.y6{bottom:750.683996pt;}
.y4d{bottom:753.353317pt;}
.y2b{bottom:764.697378pt;}
.y4c{bottom:770.917318pt;}
.y5{bottom:778.914668pt;}
.y2a{bottom:782.600047pt;}
.y4b{bottom:788.481318pt;}
.y29{bottom:800.502696pt;}
.y4a{bottom:816.711985pt;}
.y28{bottom:818.405370pt;}
.y49{bottom:834.275986pt;}
.y4{bottom:835.375992pt;}
.y27{bottom:836.308039pt;}
.y26{bottom:854.210704pt;}
.y48{bottom:862.506653pt;}
.y25{bottom:872.113370pt;}
.y47{bottom:880.070653pt;}
.y3{bottom:889.170659pt;}
.y24{bottom:890.016037pt;}
.y23{bottom:907.918709pt;}
.y46{bottom:908.301325pt;}
.y2{bottom:922.734660pt;}
.y22{bottom:925.821376pt;}
.y45{bottom:936.531988pt;}
.y21{bottom:943.724040pt;}
.y20{bottom:961.626706pt;}
.y1f{bottom:979.529373pt;}
.y44{bottom:992.993322pt;}
.h4{height:38.281250pt;}
.h3{height:38.723958pt;}
.h5{height:38.828125pt;}
.ha{height:722.666667pt;}
.hb{height:724.068034pt;}
.h1{height:964.000000pt;}
.h2{height:964.993327pt;}
.h6{height:992.000000pt;}
.h7{height:993.557373pt;}
.h8{height:1006.000000pt;}
.h9{height:1007.021322pt;}
.h0{height:1122.466634pt;}
.w1{width:652.666667pt;}
.w2{width:654.066650pt;}
.w0{width:793.666667pt;}
.x4{left:8.666667pt;}
.x7{left:32.666683pt;}
.x8{left:39.266668pt;}
.x5{left:55.933325pt;}
.x6{left:68.733332pt;}
.x3{left:75.666667pt;}
.x0{left:92.000000pt;}
.x2{left:215.464010pt;}
.x1{left:231.082662pt;}
}
