@model List<CRM.Services.Data.ViewModels.Contracts.Clients.ClientViewModel>

@{
    ViewBag.Title = "Clients";
}


@if (this.Model != null && this.Model.Any())
{
    <h2>Opertors</h2>
    <br />

    <div>Operator names:</div>
    foreach (var client in this.Model)
    {
        <div>@client.Name</div>
    }
}
else
{
    <h2>There are no oprerators having contract for that channel</h2>
}