.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.903320;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.903320;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.718750;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-1.955999px;}
._1{width:1.131958px;}
._c{width:2.640044px;}
._d{width:3.751663px;}
._9{width:5.212142px;}
._8{width:6.263979px;}
._b{width:7.539999px;}
._5{width:10.471990px;}
._6{width:11.800004px;}
._f{width:13.275990px;}
._14{width:14.375994px;}
._12{width:16.220004px;}
._a{width:17.259982px;}
._10{width:18.348009px;}
._11{width:19.500083px;}
._0{width:38.480003px;}
._13{width:58.480003px;}
._15{width:84.280000px;}
._7{width:103.880006px;}
._4{width:106.040006px;}
._3{width:110.680000px;}
._e{width:114.960006px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:32.000000px;}
.fs0{font-size:40.000000px;}
.y45{bottom:4.652042px;}
.ybf{bottom:12.651974px;}
.y65{bottom:12.652008px;}
.yab{bottom:12.652035px;}
.y44{bottom:17.825043px;}
.y64{bottom:25.825008px;}
.y43{bottom:30.998043px;}
.ybe{bottom:33.824978px;}
.y8a{bottom:33.824989px;}
.y19{bottom:33.825008px;}
.y1{bottom:44.816978px;}
.y0{bottom:45.500000px;}
.y47{bottom:46.879993px;}
.y63{bottom:46.997955px;}
.y89{bottom:46.997990px;}
.y46{bottom:47.500000px;}
.y67{bottom:49.292957px;}
.y8c{bottom:49.706959px;}
.y66{bottom:50.000000px;}
.y8b{bottom:50.500000px;}
.ybd{bottom:54.997982px;}
.yaa{bottom:54.998016px;}
.y62{bottom:60.170956px;}
.y88{bottom:60.170990px;}
.y1b{bottom:62.383961px;}
.y1a{bottom:63.000000px;}
.ya9{bottom:68.171017px;}
.y42{bottom:73.343990px;}
.y18{bottom:76.171024px;}
.y17{bottom:89.344025px;}
.y87{bottom:94.517025px;}
.y61{bottom:102.516964px;}
.y16{bottom:102.517025px;}
.ybc{bottom:109.550991px;}
.ya8{bottom:110.516998px;}
.y41{bottom:115.690033px;}
.ya7{bottom:123.689999px;}
.y86{bottom:127.896999px;}
.y40{bottom:128.863033px;}
.ybb{bottom:130.723995px;}
.y85{bottom:140.104000px;}
.y15{bottom:144.862972px;}
.y60{bottom:144.862988px;}
.ya6{bottom:144.863041px;}
.y5f{bottom:158.035988px;}
.ya5{bottom:158.036041px;}
.y84{bottom:161.277042px;}
.y14{bottom:166.036007px;}
.y5e{bottom:171.208988px;}
.y3f{bottom:171.209042px;}
.yba{bottom:173.069984px;}
.y83{bottom:174.450043px;}
.y5d{bottom:184.381989px;}
.yb9{bottom:186.242985px;}
.y13{bottom:187.208981px;}
.y82{bottom:187.623043px;}
.y3e{bottom:192.382015px;}
.y5c{bottom:197.554989px;}
.yb8{bottom:199.415985px;}
.y12{bottom:208.382015px;}
.y81{bottom:208.796028px;}
.yb7{bottom:212.588985px;}
.ya4{bottom:213.555027px;}
.y5b{bottom:218.727962px;}
.y80{bottom:221.969028px;}
.ya3{bottom:226.728027px;}
.y11{bottom:229.554989px;}
.y3d{bottom:234.728008px;}
.y7f{bottom:235.142029px;}
.y5a{bottom:239.900970px;}
.ya2{bottom:239.901028px;}
.y3c{bottom:247.901009px;}
.y7e{bottom:248.315029px;}
.y10{bottom:250.727993px;}
.y59{bottom:253.073971px;}
.yb6{bottom:254.934994px;}
.y3b{bottom:261.074009px;}
.y7d{bottom:269.488010px;}
.yf{bottom:271.900997px;}
.y58{bottom:274.246979px;}
.y3a{bottom:274.247009px;}
.ya1{bottom:282.247005px;}
.y7c{bottom:282.661011px;}
.y57{bottom:287.419979px;}
.y39{bottom:287.420010px;}
.yad{bottom:291.094990px;}
.yac{bottom:291.500000px;}
.y7b{bottom:295.834011px;}
.yb5{bottom:297.280991px;}
.y56{bottom:308.592983px;}
.yb4{bottom:310.453991px;}
.ye{bottom:314.247005px;}
.y7a{bottom:317.007019px;}
.ya0{bottom:324.593002px;}
.y38{bottom:329.766018px;}
.y79{bottom:330.180019px;}
.y9f{bottom:337.766006px;}
.y55{bottom:350.938992px;}
.y9e{bottom:350.939007px;}
.y78{bottom:351.353024px;}
.yb3{bottom:352.799984px;}
.y9d{bottom:364.112007px;}
.y37{bottom:364.366013px;}
.yb2{bottom:365.972984px;}
.y77{bottom:372.526028px;}
.y9c{bottom:377.285007px;}
.y36{bottom:377.793015px;}
.yb1{bottom:379.145985px;}
.yd{bottom:381.006985px;}
.y9b{bottom:390.458008px;}
.y35{bottom:391.220016px;}
.y54{bottom:393.284969px;}
.y76{bottom:393.699005px;}
.y9a{bottom:403.631008px;}
.y34{bottom:404.647018px;}
.yc{bottom:405.420986px;}
.y75{bottom:406.872005px;}
.y53{bottom:414.457973px;}
.y33{bottom:418.074020px;}
.yb0{bottom:421.491985px;}
.y74{bottom:428.045010px;}
.yb{bottom:429.834988px;}
.y32{bottom:431.501022px;}
.y52{bottom:435.630978px;}
.y31{bottom:444.928009px;}
.y99{bottom:445.977016px;}
.ya{bottom:454.248989px;}
.y30{bottom:458.355015px;}
.yaf{bottom:463.837986px;}
.y73{bottom:470.391018px;}
.y2f{bottom:471.782017px;}
.yae{bottom:477.010986px;}
.y51{bottom:477.976978px;}
.y9{bottom:478.662991px;}
.y2e{bottom:485.209015px;}
.y98{bottom:488.323025px;}
.y50{bottom:491.149979px;}
.y2d{bottom:498.636015px;}
.y8{bottom:503.076992px;}
.y4f{bottom:504.322979px;}
.y97{bottom:509.496017px;}
.y2c{bottom:512.063015px;}
.y72{bottom:512.737015px;}
.y96{bottom:522.669018px;}
.y2b{bottom:525.490009px;}
.y71{bottom:525.910015px;}
.y7{bottom:527.490994px;}
.y2a{bottom:538.917011px;}
.y70{bottom:539.083015px;}
.y95{bottom:543.842022px;}
.y4e{bottom:546.668976px;}
.y6{bottom:551.904995px;}
.y6f{bottom:552.256016px;}
.y29{bottom:552.344009px;}
.y4d{bottom:559.841976px;}
.y94{bottom:565.015011px;}
.y6e{bottom:565.429016px;}
.y28{bottom:565.771009px;}
.y6d{bottom:578.602016px;}
.y27{bottom:579.198009px;}
.y93{bottom:586.188019px;}
.y26{bottom:592.625013px;}
.y5{bottom:594.251003px;}
.y92{bottom:599.361019px;}
.y4c{bottom:602.187984px;}
.y25{bottom:606.052013px;}
.y24{bottom:619.479015px;}
.y91{bottom:620.534016px;}
.y6c{bottom:620.948021px;}
.y23{bottom:632.906019px;}
.y6b{bottom:634.121021px;}
.y4{bottom:636.596996px;}
.y4b{bottom:644.533981px;}
.y22{bottom:646.333019px;}
.y6a{bottom:655.294018px;}
.y4a{bottom:657.706982px;}
.y21{bottom:659.760017px;}
.y90{bottom:662.880020px;}
.y20{bottom:673.187016px;}
.y8f{bottom:676.053020px;}
.y69{bottom:676.467022px;}
.y3{bottom:676.942997px;}
.y1f{bottom:686.614016px;}
.y8e{bottom:697.226017px;}
.y1e{bottom:700.041016px;}
.y49{bottom:700.052982px;}
.y2{bottom:702.115997px;}
.y1d{bottom:713.468016px;}
.y68{bottom:718.813019px;}
.y1c{bottom:726.895016px;}
.y8d{bottom:739.572018px;}
.y48{bottom:742.398983px;}
.h4{height:28.710938px;}
.ha{height:28.750000px;}
.h3{height:29.042969px;}
.h5{height:29.121094px;}
.hf{height:508.000000px;}
.h10{height:508.704987px;}
.h1{height:733.000000px;}
.h2{height:733.809998px;}
.h6{height:736.500000px;}
.h7{height:737.416016px;}
.hd{height:749.000000px;}
.hb{height:749.500000px;}
.he{height:750.093018px;}
.hc{height:750.507019px;}
.h8{height:752.000000px;}
.h9{height:752.919983px;}
.h0{height:841.849976px;}
.w1{width:489.500000px;}
.w2{width:490.549988px;}
.w0{width:595.250000px;}
.x4{left:6.500000px;}
.x7{left:24.549999px;}
.x8{left:29.450001px;}
.x5{left:41.949994px;}
.x6{left:51.549999px;}
.x3{left:56.750000px;}
.x0{left:69.000000px;}
.x2{left:161.598007px;}
.x1{left:173.311996px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-2.607999pt;}
._1{width:1.509277pt;}
._c{width:3.520059pt;}
._d{width:5.002218pt;}
._9{width:6.949523pt;}
._8{width:8.351973pt;}
._b{width:10.053332pt;}
._5{width:13.962653pt;}
._6{width:15.733338pt;}
._f{width:17.701320pt;}
._14{width:19.167992pt;}
._12{width:21.626672pt;}
._a{width:23.013309pt;}
._10{width:24.464012pt;}
._11{width:26.000111pt;}
._0{width:51.306671pt;}
._13{width:77.973337pt;}
._15{width:112.373333pt;}
._7{width:138.506675pt;}
._4{width:141.386675pt;}
._3{width:147.573333pt;}
._e{width:153.280008pt;}
.fs1{font-size:42.666667pt;}
.fs0{font-size:53.333333pt;}
.y45{bottom:6.202723pt;}
.ybf{bottom:16.869298pt;}
.y65{bottom:16.869344pt;}
.yab{bottom:16.869380pt;}
.y44{bottom:23.766724pt;}
.y64{bottom:34.433345pt;}
.y43{bottom:41.330724pt;}
.ybe{bottom:45.099970pt;}
.y8a{bottom:45.099986pt;}
.y19{bottom:45.100011pt;}
.y1{bottom:59.755971pt;}
.y0{bottom:60.666667pt;}
.y47{bottom:62.506658pt;}
.y63{bottom:62.663940pt;}
.y89{bottom:62.663986pt;}
.y46{bottom:63.333333pt;}
.y67{bottom:65.723943pt;}
.y8c{bottom:66.275945pt;}
.y66{bottom:66.666667pt;}
.y8b{bottom:67.333333pt;}
.ybd{bottom:73.330643pt;}
.yaa{bottom:73.330688pt;}
.y62{bottom:80.227941pt;}
.y88{bottom:80.227987pt;}
.y1b{bottom:83.178614pt;}
.y1a{bottom:84.000000pt;}
.ya9{bottom:90.894689pt;}
.y42{bottom:97.791987pt;}
.y18{bottom:101.561366pt;}
.y17{bottom:119.125366pt;}
.y87{bottom:126.022700pt;}
.y61{bottom:136.689285pt;}
.y16{bottom:136.689367pt;}
.ybc{bottom:146.067988pt;}
.ya8{bottom:147.355998pt;}
.y41{bottom:154.253377pt;}
.ya7{bottom:164.919998pt;}
.y86{bottom:170.529332pt;}
.y40{bottom:171.817378pt;}
.ybb{bottom:174.298660pt;}
.y85{bottom:186.805333pt;}
.y15{bottom:193.150630pt;}
.y60{bottom:193.150650pt;}
.ya6{bottom:193.150721pt;}
.y5f{bottom:210.714650pt;}
.ya5{bottom:210.714722pt;}
.y84{bottom:215.036057pt;}
.y14{bottom:221.381343pt;}
.y5e{bottom:228.278651pt;}
.y3f{bottom:228.278722pt;}
.yba{bottom:230.759979pt;}
.y83{bottom:232.600057pt;}
.y5d{bottom:245.842651pt;}
.yb9{bottom:248.323980pt;}
.y13{bottom:249.611974pt;}
.y82{bottom:250.164057pt;}
.y3e{bottom:256.509354pt;}
.y5c{bottom:263.406652pt;}
.yb8{bottom:265.887980pt;}
.y12{bottom:277.842687pt;}
.y81{bottom:278.394704pt;}
.yb7{bottom:283.451981pt;}
.ya4{bottom:284.740036pt;}
.y5b{bottom:291.637283pt;}
.y80{bottom:295.958705pt;}
.ya3{bottom:302.304036pt;}
.y11{bottom:306.073318pt;}
.y3d{bottom:312.970678pt;}
.y7f{bottom:313.522705pt;}
.y5a{bottom:319.867961pt;}
.ya2{bottom:319.868037pt;}
.y3c{bottom:330.534678pt;}
.y7e{bottom:331.086706pt;}
.y10{bottom:334.303991pt;}
.y59{bottom:337.431961pt;}
.yb6{bottom:339.913325pt;}
.y3b{bottom:348.098679pt;}
.y7d{bottom:359.317347pt;}
.yf{bottom:362.534663pt;}
.y58{bottom:365.662638pt;}
.y3a{bottom:365.662679pt;}
.ya1{bottom:376.329341pt;}
.y7c{bottom:376.881348pt;}
.y57{bottom:383.226639pt;}
.y39{bottom:383.226679pt;}
.yad{bottom:388.126653pt;}
.yac{bottom:388.666667pt;}
.y7b{bottom:394.445348pt;}
.yb5{bottom:396.374654pt;}
.y56{bottom:411.457311pt;}
.yb4{bottom:413.938655pt;}
.ye{bottom:418.996007pt;}
.y7a{bottom:422.676025pt;}
.ya0{bottom:432.790670pt;}
.y38{bottom:439.688024pt;}
.y79{bottom:440.240026pt;}
.y9f{bottom:450.354675pt;}
.y55{bottom:467.918655pt;}
.y9e{bottom:467.918676pt;}
.y78{bottom:468.470698pt;}
.yb3{bottom:470.399979pt;}
.y9d{bottom:485.482676pt;}
.y37{bottom:485.821350pt;}
.yb2{bottom:487.963979pt;}
.y77{bottom:496.701370pt;}
.y9c{bottom:503.046677pt;}
.y36{bottom:503.724019pt;}
.yb1{bottom:505.527980pt;}
.yd{bottom:508.009313pt;}
.y9b{bottom:520.610677pt;}
.y35{bottom:521.626689pt;}
.y54{bottom:524.379959pt;}
.y76{bottom:524.932007pt;}
.y9a{bottom:538.174678pt;}
.y34{bottom:539.529358pt;}
.yc{bottom:540.561315pt;}
.y75{bottom:542.496007pt;}
.y53{bottom:552.610631pt;}
.y33{bottom:557.432027pt;}
.yb0{bottom:561.989314pt;}
.y74{bottom:570.726679pt;}
.yb{bottom:573.113317pt;}
.y32{bottom:575.334696pt;}
.y52{bottom:580.841304pt;}
.y31{bottom:593.237345pt;}
.y99{bottom:594.636022pt;}
.ya{bottom:605.665319pt;}
.y30{bottom:611.140020pt;}
.yaf{bottom:618.450648pt;}
.y73{bottom:627.188024pt;}
.y2f{bottom:629.042689pt;}
.yae{bottom:636.014648pt;}
.y51{bottom:637.302638pt;}
.y9{bottom:638.217321pt;}
.y2e{bottom:646.945353pt;}
.y98{bottom:651.097366pt;}
.y50{bottom:654.866638pt;}
.y2d{bottom:664.848020pt;}
.y8{bottom:670.769323pt;}
.y4f{bottom:672.430639pt;}
.y97{bottom:679.328023pt;}
.y2c{bottom:682.750687pt;}
.y72{bottom:683.649353pt;}
.y96{bottom:696.892024pt;}
.y2b{bottom:700.653346pt;}
.y71{bottom:701.213353pt;}
.y7{bottom:703.321325pt;}
.y2a{bottom:718.556015pt;}
.y70{bottom:718.777354pt;}
.y95{bottom:725.122696pt;}
.y4e{bottom:728.891968pt;}
.y6{bottom:735.873327pt;}
.y6f{bottom:736.341354pt;}
.y29{bottom:736.458679pt;}
.y4d{bottom:746.455968pt;}
.y94{bottom:753.353348pt;}
.y6e{bottom:753.905355pt;}
.y28{bottom:754.361346pt;}
.y6d{bottom:771.469355pt;}
.y27{bottom:772.264013pt;}
.y93{bottom:781.584025pt;}
.y26{bottom:790.166684pt;}
.y5{bottom:792.334671pt;}
.y92{bottom:799.148026pt;}
.y4c{bottom:802.917313pt;}
.y25{bottom:808.069351pt;}
.y24{bottom:825.972020pt;}
.y91{bottom:827.378688pt;}
.y6c{bottom:827.930695pt;}
.y23{bottom:843.874692pt;}
.y6b{bottom:845.494695pt;}
.y4{bottom:848.795995pt;}
.y4b{bottom:859.378642pt;}
.y22{bottom:861.777359pt;}
.y6a{bottom:873.725357pt;}
.y4a{bottom:876.942642pt;}
.y21{bottom:879.680023pt;}
.y90{bottom:883.840027pt;}
.y20{bottom:897.582687pt;}
.y8f{bottom:901.404027pt;}
.y69{bottom:901.956029pt;}
.y3{bottom:902.590663pt;}
.y1f{bottom:915.485354pt;}
.y8e{bottom:929.634689pt;}
.y1e{bottom:933.388021pt;}
.y49{bottom:933.403976pt;}
.y2{bottom:936.154663pt;}
.y1d{bottom:951.290688pt;}
.y68{bottom:958.417358pt;}
.y1c{bottom:969.193354pt;}
.y8d{bottom:986.096024pt;}
.y48{bottom:989.865311pt;}
.h4{height:38.281250pt;}
.ha{height:38.333333pt;}
.h3{height:38.723958pt;}
.h5{height:38.828125pt;}
.hf{height:677.333333pt;}
.h10{height:678.273315pt;}
.h1{height:977.333333pt;}
.h2{height:978.413330pt;}
.h6{height:982.000000pt;}
.h7{height:983.221354pt;}
.hd{height:998.666667pt;}
.hb{height:999.333333pt;}
.he{height:1000.124023pt;}
.hc{height:1000.676025pt;}
.h8{height:1002.666667pt;}
.h9{height:1003.893311pt;}
.h0{height:1122.466634pt;}
.w1{width:652.666667pt;}
.w2{width:654.066650pt;}
.w0{width:793.666667pt;}
.x4{left:8.666667pt;}
.x7{left:32.733332pt;}
.x8{left:39.266668pt;}
.x5{left:55.933325pt;}
.x6{left:68.733332pt;}
.x3{left:75.666667pt;}
.x0{left:92.000000pt;}
.x2{left:215.464010pt;}
.x1{left:231.082662pt;}
}
