@using CRM.Services.Data.ViewModels.Contracts.TypeOfCompanies
@model IEnumerable<string>
@{
    ViewBag.Title = "TypeOfCompanies";
    const string controllerName = "TypeOfCompanies";
}

<h2>Type of Companies</h2>

@(Html.Kendo()
    .Grid<TypeOfCompanyViewModel>()
    .Name("grid-type-of-companies")
    .Columns(columns =>
    {
        columns.Bound(model => model.Type).Width(170);
        columns.Bound(model => model.TypeInBulgarian).Width(170);
        columns.Command(command =>
        {
            command.Custom("Details").Click("viewDetailsTypeOfCompanies");
            command.Edit();
            command.Destroy();
        });
    })
    .ToolBar(toolBar =>
    {
        toolBar.Template(@<text>
            @(Html.Kendo().AutoComplete()
                .Name("searchbox-type-of-companies")
                .Placeholder("Type of company... ")
                .BindTo(Model)
            )
            <a class="k-button k-button-icontext k-grid-add" href="/Users/TypeOfCompanies/ReadTypeOfCompanies?grid-type-of-companies-mode=insert"><span class="k-icon k-add"></span>Add new record</a>
            <button class="k-button k-button-icontext k-grid-excel"><span class="k-icon k-i-excel"></span>Export to Excel</button>
            <button class="k-button k-button-icontext k-grid-pdf"><span class="k-icon k-i-pdf"></span>Export to PDF</button>
        </text>);
    })
                                                    .Groupable()
                                                    .ColumnMenu()
                                                    .Filterable()
                                                    .Navigatable()
                                                    .Resizable(r => r.Columns(true))
                                                    .Reorderable(r => r.Columns(true))
                                                    .Events(ev => ev.Change("selectRow"))
                                                    .HtmlAttributes(new { @style = "word-break:break-all;" })
                                                    .Editable(edit => edit.Mode(GridEditMode.PopUp))
                                                    .Selectable(select => select.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Cell))
                                                    .Excel(excel => excel
                                                        .FileName("Type of Companies Database.xlsx")
                                                        .Filterable(true)
                                                        .ProxyURL(Url.Action("Excel_Export_Save", "BaseController", new { area = "" }))
                                                     )
                                                    .Pdf(pdf => pdf
                                                        .AllPages()
                                                                        .FileName("Type of Companies Database.pdf")
                                                        .ProxyURL(Url.Action("Pdf_Export_Save", "BaseController", new { area = "" }))
                                                    )
                                                    .Pageable(pageable => pageable
                                                        .Refresh(true)
                                                        .PageSizes(true)
                                                        .ButtonCount(5))
                                                    .Sortable(sort =>
                                                    {
                                                        sort.AllowUnsort(false);
                                                        sort.SortMode(GridSortMode.SingleColumn);
                                                    })
                                                    .DataSource(data =>
                                                    {
                                                        data.Ajax()
                                                            .Model(model => model.Id(c => c.Id))
                                                            .PageSize(10)
                                                            .ServerOperation(true)
                                                            .Events(ev => ev.Error("errorAlert"))
                                                            .Read(read => read.Action("ReadTypeOfCompanies", controllerName).Data("addSearchTypeOfCompanies"))
                                                            .Create(create => create.Action("CreateTypeOfCompany", controllerName))
                                                            .Update(update => update.Action("UpdateTypeOfCompany", controllerName))
                                                            .Destroy(destroy => destroy.Action("DestroyTypeOfCompany", controllerName));
                                                    }))
<div id="selected">
</div>

<script>
    function onAdditionalDataTypeOfCompanies() {
        return {
            text: $("#searchbox-type-of-companies").val()
        };
    }

    function addSearchTypeOfCompanies() {
        return { searchboxTypeOfCompany: $('#searchbox-type-of-companies').val() };
    }

    $('#searchbox-type-of-companies').keyup(function () {
        $('#grid-type-of-companies').data('kendoGrid').dataSource.read();
    });

    function viewDetailsTypeOfCompanies(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = '/Contractors/TypeOfCompanies/TypeOfCompanyDetails?TypeOfCompany=' + dataItem.Id;
    }

    function selectRow() {
        var selected = $.map(this.select(), function (item) {
            return $(item).text();
        });

        $('#selected').text(selected);
    }

    function errorAlert() {
        console.log("An error ocurred");
    }

    function makeActiveOnClick(tab) {
        $(".tabs").removeClass('active');
        $(tab).addClass('active');
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

