@model CRM.Services.Data.ViewModels.Contracts.TypeOfCompanies.TypeOfCompanyViewModel

<div class="table-responsive">
    <table class="table table-condensed table-responsive table-user-information">
        <tbody>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Type
                    </strong>
                </td>
                <td>
                    @Model.Type
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Type in Bulgarian
                    </strong>
                </td>
                <td>
                    @Model.TypeInBulgarian
                </td>
            </tr>
        </tbody>
    </table>
</div>