@using TVChannelsCRM.Web.Areas.Users.ViewModels.Clients
@model List<ClientViewModel>

@{
    ViewBag.Title = "Clients";
}

<h2>Clients</h2>

@if (this.Model != null && this.Model.Any())
{
    foreach (var client in this.Model)
    {
        @:Client name: @client.Name
    }
}
else
{
    @: There are no clients having contract for that channel
}