@model int
@{
    ViewBag.Title = "FinishActivityProccess";
}

<h2>Finish Activity Proccess</h2>

@using (Html.BeginForm("FinishActivity", "UserActivities", null, FormMethod.Post, null))
{
    <input type="hidden" name="activityId" value="@Model" />
    <input type="text" name="comments" />
    <input type="date" name="date" />

    <input type="submit" value="Finish" />
}