@using TVChannelsCRM.Web.Areas.Users.ViewModels.Clients
@model int
@{
    ViewBag.Title = "ClientDetails";
}

<style type="text/css">
    #content {
        min-height: 600px;
    }
</style>

<h2>Client details</h2>

@* <p>Sorry this page is still not ready and you are not allowed to check it</p>
    <h1>You will be automatically redirected after <span id="seconds-until-redirect">6</span> seconds!</h1>
    <img src="~/Content/images/sorry_not_implemented.jpg"/>
    <script>
        $(document).ready(function () {
            var sec = 6;
            var timer = setInterval(function () {
                $('#seconds-until-redirect').text(--sec);
                if (sec === 1) {
                    window.location.href = '/users/clients/index';
                    clearInterval(timer);
                }
            }, 1000);
        });
    </script>*@

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/kendo")



<div id="example" class="k-content">
    <div class="wrapper">
        @(Html.Kendo().TabStrip()
              .Name("tabstrip")
              .TabPosition(TabStripTabPosition.Top)
              .Animation(animation =>
              {
                  animation.Open(config =>
                  {
                      config.Fade(FadeDirection.In);
                  });
              })
              .SelectedIndex(0)
              .Items(tabstrip =>
              {
                  tabstrip.Add().Text("Information")
                      .Selected(true)
                      .LoadContentFrom(Url.Action("ClientInformation", "Clients", new { clientId = Model }));

                  tabstrip.Add().Text("Contracts")
                      .LoadContentFrom(Url.Action("AllClientsContracts", "Contracts", new { clientId = Model }));

                  tabstrip.Add().Text("Activities")
                      .LoadContentFrom(Url.Action("AllClientsDiscussions", "Discussions", new { clientId = Model }));

                  tabstrip.Add().Text("Trds")
                      .LoadContentFrom(Url.Action("AllTrds", "Trds", new { clientId = Model }));
              })
        )
    </div>
</div>

<style>
    .wrapper {
        margin: 20px auto;
    }

    .specification {
        margin: 10px 0;
        padding: 0;
        overflow: auto;
    }

        .specification dt, dd {
            margin: 0;
            padding: 5px 0 7px 0;
            border-top: 1px solid rgba(0, 0, 0, 0.3);
        }

        .specification dt {
            margin-right: 7px;
            padding-right: 0;
            opacity: 0.7;
        }

        .specification:after, .wrapper:after {
            content: "";
            visibility: hidden;
        }
</style>

