@using TVChannelsCRM.Web.Areas.Users.ViewModels.Clients
@{
    ViewBag.Title = "Clients";
    const string controllerName = "Clients";
}

<h2>Clients</h2>
@*@Scripts.Render("~/bundles/kendo")*@
@(Html.Kendo()
    .Grid<ClientViewModel>()
    .Name("grid-category")
    .Columns(columns =>
    {
        columns.Bound(model => model.IsActive);
        columns.Bound(model => model.ActiveFrom).Format("{0:dd/MM/yyyy}");
        columns.Bound(model => model.ActiveTo).Format("{0:dd/MM/yyyy}");
        columns.Bound(model => model.Mg);
        columns.Bound(model => model.IrdCard);
        columns.Bound(model => model.Invoicing);
        columns.Bound(model => model.DateOfSigning).Format("{0:dd/MM/yyyy}");
        columns.Bound(model => model.DateOfExpiring).Format("{0:dd/MM/yyyy}");
        columns.Bound(model => model.Currency);
        columns.Bound(model => model.InvoicesIssued);
        columns.Bound(model => model.PaymentsReceived);
        columns.Bound(model => model.Contract);
        columns.Command(command =>
        {
            command.Custom("Details").Click("viewDetails");
            command.Edit();
            command.Destroy();
        });
    })
        .ToolBar(tools =>
        {
            tools.Create();
            tools.Excel();
            tools.Pdf();
        })
        .Groupable()
        .ColumnMenu()
        .Filterable()
        .Navigatable()
        .Resizable(r => r.Columns(true))
        .Reorderable(r => r.Columns(true))
        .Events(ev => ev.Change("selectRow"))
         .HtmlAttributes(new { style = "width:1940px" })
        .Editable(edit => edit.Mode(GridEditMode.PopUp))
        .Selectable(select => select.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Cell))
        .Excel(excel => excel
            .FileName("Clients Database.xlsx")
            .Filterable(true)
            .ProxyURL(Url.Action("Excel_Export_Save", controllerName))
         )
        .Pdf(pdf => pdf
            .AllPages()
             .FileName("Clients Database.pdf")
            .ProxyURL(Url.Action("Pdf_Export_Save", controllerName))
        )
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .Sortable(sort =>
        {
            sort.AllowUnsort(false);
            sort.SortMode(GridSortMode.SingleColumn);
        })
        .DataSource(data =>
        {
            data.Ajax()
                .Model(model => model.Id(c => c.Id))
                .PageSize(10)
                .ServerOperation(true)
                .Events(ev => ev.Error("errorAlert"))
                .Read(read => read.Action("ReadClients", controllerName))
                .Create(create => create.Action("CreateClient", controllerName))
                .Update(update => update.Action("UpdateClient", controllerName))
                .Destroy(destroy => destroy.Action("DestroyClient", controllerName));
        }))
<div id="selected">
</div>

<script>
    function viewDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = '/Users/Clients/ClientDetails?clientId=' + dataItem.Id;
    }

    function selectRow() {
        var selected = $.map(this.select(), function (item) {
            return $(item).text();
        });

        $('#selected').text(selected);
    }

    function errorAlert() {
        console.log("An error ocurred");
    }

    function makeActiveOnClick(tab) {
        $(".tabs").removeClass('active');
        $(tab).addClass('active');
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

