.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.003418;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.003418;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.991699;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.991699;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.708008;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-0.200000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._b{margin-left:-3.067999px;}
._2{margin-left:-1.184004px;}
._1{width:1.131958px;}
._9{width:2.347981px;}
._a{width:3.348073px;}
._e{width:5.036000px;}
._f{width:6.211982px;}
._c{width:7.263997px;}
._3{width:10.080024px;}
._6{width:11.416000px;}
._d{width:12.512029px;}
._11{width:13.547852px;}
._14{width:15.168142px;}
._15{width:16.190988px;}
._8{width:17.259982px;}
._10{width:18.348009px;}
._12{width:19.771826px;}
._0{width:38.480003px;}
._13{width:58.480003px;}
._16{width:84.280000px;}
._7{width:103.880006px;}
._5{width:106.040006px;}
._4{width:110.680000px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:32.000000px;}
.fs0{font-size:40.000000px;}
.fs2{font-size:48.000000px;}
.y63{bottom:4.652016px;}
.y8a{bottom:4.652023px;}
.y1c{bottom:4.906002px;}
.y41{bottom:12.652035px;}
.y62{bottom:17.825016px;}
.y89{bottom:17.825024px;}
.y1b{bottom:18.333004px;}
.y61{bottom:30.998016px;}
.y88{bottom:30.998024px;}
.y1a{bottom:31.760006px;}
.y60{bottom:44.171017px;}
.y87{bottom:44.171024px;}
.y1{bottom:46.881981px;}
.y65{bottom:47.360950px;}
.y0{bottom:47.500000px;}
.y64{bottom:48.000000px;}
.y43{bottom:49.706959px;}
.y42{bottom:50.500000px;}
.yaa{bottom:54.997982px;}
.y40{bottom:54.998016px;}
.y86{bottom:57.344025px;}
.y1e{bottom:62.123951px;}
.y1d{bottom:63.000000px;}
.y3f{bottom:68.171017px;}
.y85{bottom:70.517025px;}
.y19{bottom:74.106014px;}
.ya9{bottom:76.171017px;}
.y5f{bottom:86.517025px;}
.y8c{bottom:103.750965px;}
.y8b{bottom:104.500000px;}
.y5e{bottom:107.689999px;}
.y3e{bottom:110.517025px;}
.y84{bottom:112.863033px;}
.y18{bottom:116.451969px;}
.y5d{bottom:128.863033px;}
.y17{bottom:129.624969px;}
.ya8{bottom:131.261035px;}
.y16{bottom:142.797970px;}
.y3d{bottom:152.863014px;}
.ya7{bottom:154.338009px;}
.y83{bottom:155.209042px;}
.y3c{bottom:166.036015px;}
.y5c{bottom:171.209015px;}
.y82{bottom:176.382050px;}
.y3b{bottom:179.209015px;}
.y5b{bottom:184.382015px;}
.y15{bottom:185.143978px;}
.y81{bottom:189.555050px;}
.y3a{bottom:192.382015px;}
.ya6{bottom:196.683998px;}
.y5a{bottom:205.555023px;}
.y14{bottom:206.317013px;}
.ya5{bottom:209.856998px;}
.y80{bottom:210.728024px;}
.y59{bottom:218.728024px;}
.ya4{bottom:223.029999px;}
.y13{bottom:227.489986px;}
.y7f{bottom:231.901028px;}
.y39{bottom:234.728024px;}
.ya3{bottom:236.202999px;}
.y58{bottom:239.901028px;}
.y12{bottom:248.662991px;}
.y7e{bottom:253.074036px;}
.ya2{bottom:257.376003px;}
.y7d{bottom:266.247036px;}
.y11{bottom:269.835995px;}
.y38{bottom:277.074036px;}
.ya1{bottom:278.549011px;}
.y57{bottom:282.247021px;}
.y7c{bottom:287.420040px;}
.y37{bottom:290.247036px;}
.y10{bottom:291.008999px;}
.ya0{bottom:291.722012px;}
.y56{bottom:295.420021px;}
.y7b{bottom:308.593018px;}
.y55{bottom:308.593021px;}
.yf{bottom:312.182003px;}
.y9f{bottom:312.895023px;}
.y7a{bottom:321.766018px;}
.y54{bottom:321.766022px;}
.y9e{bottom:326.068024px;}
.y36{bottom:332.593014px;}
.y53{bottom:334.939022px;}
.y9d{bottom:339.241024px;}
.y79{bottom:342.939022px;}
.y35{bottom:353.766018px;}
.ye{bottom:354.527981px;}
.y52{bottom:356.112026px;}
.y9c{bottom:360.413998px;}
.y78{bottom:364.112026px;}
.y51{bottom:377.285004px;}
.y50{bottom:390.458004px;}
.y34{bottom:396.112011px;}
.yd{bottom:400.114986px;}
.y9b{bottom:402.760010px;}
.y77{bottom:406.458015px;}
.y33{bottom:409.285011px;}
.y4f{bottom:411.631012px;}
.y9a{bottom:415.933010px;}
.y76{bottom:419.631016px;}
.y32{bottom:422.458012px;}
.yc{bottom:424.528988px;}
.y4e{bottom:424.804012px;}
.y75{bottom:432.804016px;}
.y31{bottom:435.631012px;}
.y99{bottom:437.106014px;}
.y74{bottom:445.977016px;}
.y30{bottom:448.804012px;}
.yb{bottom:448.942989px;}
.y4d{bottom:467.150021px;}
.ya{bottom:473.356991px;}
.y98{bottom:479.452011px;}
.y2f{bottom:491.150021px;}
.y97{bottom:492.625011px;}
.y9{bottom:497.770992px;}
.y4c{bottom:509.496014px;}
.y73{bottom:509.496033px;}
.y96{bottom:513.798004px;}
.y8{bottom:522.184994px;}
.y72{bottom:522.669033px;}
.y2e{bottom:525.750031px;}
.y95{bottom:526.971004px;}
.y2d{bottom:539.177032px;}
.y71{bottom:543.842030px;}
.y7{bottom:546.598995px;}
.y94{bottom:548.144009px;}
.y4b{bottom:551.842022px;}
.y2c{bottom:552.604034px;}
.y70{bottom:557.015030px;}
.y93{bottom:561.317009px;}
.y2b{bottom:566.031021px;}
.y6f{bottom:570.188030px;}
.y6{bottom:571.012997px;}
.y4a{bottom:573.015011px;}
.y92{bottom:574.490009px;}
.y2a{bottom:579.458027px;}
.y6e{bottom:591.361023px;}
.y5{bottom:592.186001px;}
.y29{bottom:592.885029px;}
.y49{bottom:594.188015px;}
.y91{bottom:595.663013px;}
.y6d{bottom:604.534023px;}
.y28{bottom:606.312027px;}
.y90{bottom:608.836014px;}
.y6c{bottom:617.707024px;}
.y27{bottom:619.739027px;}
.y8f{bottom:622.009014px;}
.y6b{bottom:630.880024px;}
.y26{bottom:633.166027px;}
.y4{bottom:634.531994px;}
.y48{bottom:636.534016px;}
.y8e{bottom:643.182011px;}
.y25{bottom:646.593023px;}
.y47{bottom:649.707016px;}
.y6a{bottom:652.053024px;}
.y24{bottom:660.020023px;}
.y46{bottom:662.880016px;}
.y69{bottom:665.226025px;}
.y23{bottom:673.447025px;}
.y3{bottom:674.877995px;}
.y8d{bottom:685.528011px;}
.y68{bottom:686.399025px;}
.y22{bottom:686.874025px;}
.y2{bottom:700.050995px;}
.y21{bottom:700.301025px;}
.y45{bottom:705.226017px;}
.y20{bottom:713.728025px;}
.y44{bottom:718.399017px;}
.y1f{bottom:727.155025px;}
.y67{bottom:728.745026px;}
.y66{bottom:741.918026px;}
.h4{height:32.539062px;}
.h3{height:33.046875px;}
.hd{height:39.046875px;}
.hb{height:695.000000px;}
.hc{height:696.049011px;}
.h1{height:731.000000px;}
.h2{height:731.744995px;}
.h5{height:736.500000px;}
.h6{height:737.676025px;}
.h7{height:749.000000px;}
.h8{height:750.093018px;}
.h9{height:751.500000px;}
.ha{height:752.439026px;}
.h0{height:841.849976px;}
.w1{width:489.500000px;}
.w2{width:490.549988px;}
.w0{width:595.250000px;}
.x4{left:6.500000px;}
.x7{left:24.500012px;}
.x8{left:29.450001px;}
.x5{left:41.950001px;}
.x6{left:51.549999px;}
.x3{left:56.750000px;}
.x0{left:69.000000px;}
.x2{left:161.598007px;}
.x1{left:173.311996px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-0.266667pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._b{margin-left:-4.090666pt;}
._2{margin-left:-1.578672pt;}
._1{width:1.509277pt;}
._9{width:3.130641pt;}
._a{width:4.464097pt;}
._e{width:6.714667pt;}
._f{width:8.282643pt;}
._c{width:9.685329pt;}
._3{width:13.440033pt;}
._6{width:15.221333pt;}
._d{width:16.682705pt;}
._11{width:18.063803pt;}
._14{width:20.224189pt;}
._15{width:21.587984pt;}
._8{width:23.013309pt;}
._10{width:24.464012pt;}
._12{width:26.362435pt;}
._0{width:51.306671pt;}
._13{width:77.973337pt;}
._16{width:112.373333pt;}
._7{width:138.506675pt;}
._5{width:141.386675pt;}
._4{width:147.573333pt;}
.fs1{font-size:42.666667pt;}
.fs0{font-size:53.333333pt;}
.fs2{font-size:64.000000pt;}
.y63{bottom:6.202688pt;}
.y8a{bottom:6.202698pt;}
.y1c{bottom:6.541336pt;}
.y41{bottom:16.869380pt;}
.y62{bottom:23.766688pt;}
.y89{bottom:23.766698pt;}
.y1b{bottom:24.444005pt;}
.y61{bottom:41.330688pt;}
.y88{bottom:41.330699pt;}
.y1a{bottom:42.346675pt;}
.y60{bottom:58.894689pt;}
.y87{bottom:58.894699pt;}
.y1{bottom:62.509308pt;}
.y65{bottom:63.147934pt;}
.y0{bottom:63.333333pt;}
.y64{bottom:64.000000pt;}
.y43{bottom:66.275945pt;}
.y42{bottom:67.333333pt;}
.yaa{bottom:73.330643pt;}
.y40{bottom:73.330688pt;}
.y86{bottom:76.458700pt;}
.y1e{bottom:82.831935pt;}
.y1d{bottom:84.000000pt;}
.y3f{bottom:90.894689pt;}
.y85{bottom:94.022700pt;}
.y19{bottom:98.808019pt;}
.ya9{bottom:101.561356pt;}
.y5f{bottom:115.356033pt;}
.y8c{bottom:138.334620pt;}
.y8b{bottom:139.333333pt;}
.y5e{bottom:143.586665pt;}
.y3e{bottom:147.356033pt;}
.y84{bottom:150.484044pt;}
.y18{bottom:155.269292pt;}
.y5d{bottom:171.817378pt;}
.y17{bottom:172.833293pt;}
.ya8{bottom:175.014713pt;}
.y16{bottom:190.397293pt;}
.y3d{bottom:203.817352pt;}
.ya7{bottom:205.784012pt;}
.y83{bottom:206.945389pt;}
.y3c{bottom:221.381353pt;}
.y5c{bottom:228.278687pt;}
.y82{bottom:235.176066pt;}
.y3b{bottom:238.945353pt;}
.y5b{bottom:245.842687pt;}
.y15{bottom:246.858637pt;}
.y81{bottom:252.740067pt;}
.y3a{bottom:256.509354pt;}
.ya6{bottom:262.245331pt;}
.y5a{bottom:274.073364pt;}
.y14{bottom:275.089350pt;}
.ya5{bottom:279.809331pt;}
.y80{bottom:280.970698pt;}
.y59{bottom:291.637365pt;}
.ya4{bottom:297.373332pt;}
.y13{bottom:303.319982pt;}
.y7f{bottom:309.201370pt;}
.y39{bottom:312.970698pt;}
.ya3{bottom:314.937332pt;}
.y58{bottom:319.868037pt;}
.y12{bottom:331.550654pt;}
.y7e{bottom:337.432048pt;}
.ya2{bottom:343.168004pt;}
.y7d{bottom:354.996048pt;}
.y11{bottom:359.781326pt;}
.y38{bottom:369.432048pt;}
.ya1{bottom:371.398682pt;}
.y57{bottom:376.329361pt;}
.y7c{bottom:383.226720pt;}
.y37{bottom:386.996048pt;}
.y10{bottom:388.011998pt;}
.ya0{bottom:388.962682pt;}
.y56{bottom:393.893361pt;}
.y7b{bottom:411.457357pt;}
.y55{bottom:411.457362pt;}
.yf{bottom:416.242671pt;}
.y9f{bottom:417.193364pt;}
.y7a{bottom:429.021357pt;}
.y54{bottom:429.021362pt;}
.y9e{bottom:434.757365pt;}
.y36{bottom:443.457352pt;}
.y53{bottom:446.585363pt;}
.y9d{bottom:452.321365pt;}
.y79{bottom:457.252029pt;}
.y35{bottom:471.688024pt;}
.ye{bottom:472.703974pt;}
.y52{bottom:474.816035pt;}
.y9c{bottom:480.551997pt;}
.y78{bottom:485.482702pt;}
.y51{bottom:503.046672pt;}
.y50{bottom:520.610672pt;}
.y34{bottom:528.149348pt;}
.yd{bottom:533.486649pt;}
.y9b{bottom:537.013346pt;}
.y77{bottom:541.944021pt;}
.y33{bottom:545.713348pt;}
.y4f{bottom:548.841349pt;}
.y9a{bottom:554.577347pt;}
.y76{bottom:559.508021pt;}
.y32{bottom:563.277349pt;}
.yc{bottom:566.038651pt;}
.y4e{bottom:566.405350pt;}
.y75{bottom:577.072021pt;}
.y31{bottom:580.841349pt;}
.y99{bottom:582.808019pt;}
.y74{bottom:594.636022pt;}
.y30{bottom:598.405350pt;}
.yb{bottom:598.590652pt;}
.y4d{bottom:622.866694pt;}
.ya{bottom:631.142654pt;}
.y98{bottom:639.269348pt;}
.y2f{bottom:654.866694pt;}
.y97{bottom:656.833349pt;}
.y9{bottom:663.694656pt;}
.y4c{bottom:679.328018pt;}
.y73{bottom:679.328044pt;}
.y96{bottom:685.064006pt;}
.y8{bottom:696.246658pt;}
.y72{bottom:696.892044pt;}
.y2e{bottom:701.000041pt;}
.y95{bottom:702.628006pt;}
.y2d{bottom:718.902710pt;}
.y71{bottom:725.122706pt;}
.y7{bottom:728.798660pt;}
.y94{bottom:730.858678pt;}
.y4b{bottom:735.789363pt;}
.y2c{bottom:736.805379pt;}
.y70{bottom:742.686707pt;}
.y93{bottom:748.422679pt;}
.y2b{bottom:754.708028pt;}
.y6f{bottom:760.250707pt;}
.y6{bottom:761.350662pt;}
.y4a{bottom:764.020014pt;}
.y92{bottom:765.986679pt;}
.y2a{bottom:772.610703pt;}
.y6e{bottom:788.481364pt;}
.y5{bottom:789.581334pt;}
.y29{bottom:790.513372pt;}
.y49{bottom:792.250687pt;}
.y91{bottom:794.217351pt;}
.y6d{bottom:806.045364pt;}
.y28{bottom:808.416036pt;}
.y90{bottom:811.781352pt;}
.y6c{bottom:823.609365pt;}
.y27{bottom:826.318703pt;}
.y8f{bottom:829.345352pt;}
.y6b{bottom:841.173365pt;}
.y26{bottom:844.221369pt;}
.y4{bottom:846.042658pt;}
.y48{bottom:848.712021pt;}
.y8e{bottom:857.576014pt;}
.y25{bottom:862.124031pt;}
.y47{bottom:866.276021pt;}
.y6a{bottom:869.404032pt;}
.y24{bottom:880.026698pt;}
.y46{bottom:883.840022pt;}
.y69{bottom:886.968033pt;}
.y23{bottom:897.929367pt;}
.y3{bottom:899.837326pt;}
.y8d{bottom:914.037348pt;}
.y68{bottom:915.198700pt;}
.y22{bottom:915.832034pt;}
.y2{bottom:933.401326pt;}
.y21{bottom:933.734701pt;}
.y45{bottom:940.301356pt;}
.y20{bottom:951.637367pt;}
.y44{bottom:957.865356pt;}
.y1f{bottom:969.540034pt;}
.y67{bottom:971.660034pt;}
.y66{bottom:989.224035pt;}
.h4{height:43.385417pt;}
.h3{height:44.062500pt;}
.hd{height:52.062500pt;}
.hb{height:926.666667pt;}
.hc{height:928.065348pt;}
.h1{height:974.666667pt;}
.h2{height:975.659993pt;}
.h5{height:982.000000pt;}
.h6{height:983.568034pt;}
.h7{height:998.666667pt;}
.h8{height:1000.124023pt;}
.h9{height:1002.000000pt;}
.ha{height:1003.252035pt;}
.h0{height:1122.466634pt;}
.w1{width:652.666667pt;}
.w2{width:654.066650pt;}
.w0{width:793.666667pt;}
.x4{left:8.666667pt;}
.x7{left:32.666683pt;}
.x8{left:39.266668pt;}
.x5{left:55.933334pt;}
.x6{left:68.733332pt;}
.x3{left:75.666667pt;}
.x0{left:92.000000pt;}
.x2{left:215.464010pt;}
.x1{left:231.082662pt;}
}
