@using CRM.Services.Data.ViewModels.Marketing.Reports
@model SendMarketingReportViewModel

@{
    ViewBag.Title = "Marketing Reports";
}

<h2>Marketing Reports</h2>


@using (Html.BeginForm("GenerateReport", "MarketingReports", null, FormMethod.Post, null))
{
    @Html.DropDownList("chooseReportType", ViewBag.EnumData as SelectList)

    <label for="from">From</label>
    @(Html.Kendo().DatePicker()
              .Name("from")
    )

    <label for="to">To</label>
    @(Html.Kendo().DatePicker()
              .Name("to")
    )

    <br />
    <br />

    <input type="submit" value="Generate report" class="btn btn-primary" />
}